<launch>
    <node pkg="odas_ros" type="server.py" name="odas_server" output="screen">
      <remap from="tracked_sources"	to="/sounds/tracked_sources"/>
    </node>

    <node pkg="odas_ros" type="odas_core_node" name="odas_core_node" output="screen">
      <!-- set the odas configuration file -->
      <param name="config_file" value="$(find odas_ros)/odas/config/securbot_turtle_ros.cfg" />      
    </node>
</launch>
