<launch>
    <!-- ODAS LAUNCH FILE FOR SSL AND SST SYNCHRONISATION -->
    <arg name="robot"           default="pioneer" />
    <arg name="config_file"      default="securbot_$(arg robot)_ros_E.cfg" />

    <node pkg="odas_server" type="server_lt_sync.py" name="odas_server" output="screen">
      <remap from="tracked_sources"	to="/sounds/tracked_sources"/>
    </node>

    <node pkg="odas_server" type="odas_core_node" name="odas_core_node" output="screen">
      <!-- set the odas configuration file -->
      <param name="config_file" value="$(find odas_server)/odas/config/$(arg config_file)" />      
    </node>
</launch>
