<launch>
    <!-- ODAS LAUNCH FILE FOR SSL AND SST SYNCHRONISATION -->
    <arg name="robot"           default="pioneer" />
    <arg name="config_file"      default="securbot_$(arg robot)_ros_sst.cfg" />

    <node pkg="odas_server" type="server_sst.py" name="$(arg robot)_odas_server" output="screen" required="true">
      <remap from="/SST"	to="/$(arg robot)/SST"/>
    </node>

    <node pkg="odas_server" type="$(arg robot)_odas_core_node" name="$(arg robot)_odas_core_node" output="screen">
      <!-- set the odas configuration file -->
      <param name="config_file" value="$(find odas_server)/odas/config/$(arg config_file)" />
      <param name="robot" value = "$(arg robot)" />      
    </node>
</launch>
